doctype html
html
  head
    title Who's Online?
    link(rel='stylesheet', href='/app.css')
  body
    .heading #{onlineNow.length} online now
    .flex-container
      each match in onlineNow
        .image-with-caption
          img(src=match.main_picture.source)
          .caption
            .name #{match.first_name} #{match.last_name}
            .online seen #{match.last_seen}
            .matched from #{match.matchDate}