doctype html
html
  head
    title Who's Online?
    link(rel='stylesheet', href='/app.css')
  body
    .heading #{onlineNow.length} online now
    .flex-container
      each match in onlineNow
        a.image-with-caption(href='https://www.facebook.com/' + match.fbid)
          img(src=match.main_picture.source)
          .caption
            .name #{match.first_name} #{match.last_name}
            .online(class={active: match.onlineNow}) seen #{match.last_seen}
            .matched from #{match.matchDate}